<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
<body>
    <header>
        <div sec:authorize="!isAuthenticated()">
            <form th:action="@{/login}" method="get"><input type="submit" value="Login"/></form>
            <form th:action="@{/registration}" method="get"><input type="submit" value="Registration"/></form>
            <br>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form>
        </div>
    </header>
    <section>
        <h1 th:inline="text">Приветствую [[${#httpServletRequest.remoteUser}]]!</h1>
        <div sec:authorize="!isAuthenticated()" class="left_in_block">
            <p>
                Здесь вы можете создать список пожеланий.
                <br>
                Для продолжений выполните вход под своей учетной записью.
                <br>
                Если учетной записи нет, предусмотрена простая форма регистрации.
            </p>
        </div>

        <div sec:authorize="isAuthenticated()">
            <h2>Your wishlists:</h2>
            <table class="left_in_block">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Choose</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wishList: ${user.wishLists}">
                    <td th:text="${wishList.name}"></td>
                    <td>
                        <form th:action="@{/wish-list/{id}(id=${wishList.id})}" method="get">
                            <button type="submit">choose</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/wish-list/delete/{id}(id=${wishList.id})}" method="post">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <form th:action="@{/wish-list/create}" method="post">
                <input type="hidden" name="userId" id="userId" th:value="${user.id}">
                <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                <button type="submit">Create wishlist</button>
            </form>
        </div>
    </section>


<!--<p>Welcome to <span th:text="${appName}">Our App</span></p>-->
</body>
</html>