<html>
<head><title>WishListInfo</title></head>
<body>
<h2>This is <span th:text="${wishList.name}"> whishList name</span>!</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Link</th>
            <th>Reserve</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="wish: ${wishList.wishes}">
            <td th:text="${wish.name}"></td>
            <td th:text="${wish.comment}"></td>
            <td th:text="${wish.link}"></td>
            <td>
                <form th:if="${!wish.isLocked}" th:action="@{/wish-list/wishes/reserve}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <button type="submit">reserve</button>
                </form>
                <form th:if="${wish.isLocked}" th:action="@{/wish-list/wishes/cancel-reserve}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <button type="submit">cancel</button>
                </form>
            </td>
            <td>
                <form th:action="@{/wish-list/wishes/update}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <button type="submit">edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/wish-list/wishes/delete}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <button type="submit">delete</button>
                </form>
            </td>
            <br>
        </tr>
    </tbody>
</table>
<br>
<form th:action="@{/wish-list/wishes/create}" method="post">
    <input type="hidden" name="wishListId" id="wishListId" th:value="${wishList.id}">
    <button type="submit">add wish</button>
</form>

<br>
</body>
</html>