<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head><title>WishListInfo</title></head>
<body>
<h2>This is <span th:text="${wishList.name}"> whishList name</span> wishlist:</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Link</th>
            <th>Reserve</th>

            <div th:if="${isOwner}">
                <th>Edit</th>
                <th>Delete</th>
            </div>

        </tr>
    </thead>
    <tbody>
        <tr th:each="wish: ${wishList.wishes}">
            <td th:text="${wish.name}"></td>
            <td th:text="${wish.comment}"></td>
            <td th:text="${wish.link}"></td>
            <td>
                <form th:if="${!wish.isLocked}" th:action="@{/wish-list/wishes/reserve}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                    <button type="submit">reserve</button>
                </form>
                <form th:if="${wish.isLocked}" th:action="@{/wish-list/wishes/cancel-reserve}" method="post">
                    <input type="hidden" name="wishId" th:value="${wish.id}">
                    <input type="hidden" name="wishListId" th:value="${wishList.id}">
                    <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                    <button type="submit">cancel</button>
                </form>
            </td>

            <div th:if="${isOwner}">
                <td>
                    <form th:action="@{/wish-list/wishes/update}" method="post">
                        <input type="hidden" name="wishId" th:value="${wish.id}">
                        <input type="hidden" name="wishListId" th:value="${wishList.id}">
                        <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                        <button type="submit">edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/wish-list/wishes/delete}" method="post">
                        <input type="hidden" name="wishId" th:value="${wish.id}">
                        <input type="hidden" name="wishListId" th:value="${wishList.id}">
                        <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </div>

            <br>
        </tr>
    </tbody>
</table>
<br>
<div th:if="${isOwner}">
    <form th:action="@{/wish-list/wishes/create}" method="post">
        <input type="hidden" name="wishListId" id="wishListId" th:value="${wishList.id}">
        <input type="hidden" name = "_csrf" th:value="${_csrf.token}">
        <button type="submit">add wish</button>
    </form>
    <form th:action="@{/}" method="get">
        <button type="submit">Go home</button>
    </form>
</div>
<br>
</body>
</html>